<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      <div class='header-title'>
       RISUKE<div class='sub-title'>ー理学療法評価アプリー</div>
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="menu">
      <div class="menu-name">
       <%= link_to '患者登録', new_patient_path, class: "patient" %>
      </div>
      </div>
      <div class="menu">
      <div class="menu-name">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    </div>
    <div class='user-name'>
     <div class='user-therapist-name'>
     <%= "#{current_user.therapist_name}さんのページ" %>
     </div>
    </div>
   <% else %>
    <div class='menu'>
      <div class='menu-name'>
        <%= link_to '新規登録', new_user_registration_path, class: "registration" %>
      </div>
    </div>
    <div class="menu">
      <div class="menu-name">
        <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      </div>
    </div>
    <% end %>
  </div>
 <div class='main-contents'>
  <div class='main-title'>
   <div class='title'>
    <div class="maru size_normal pink1">
       <div class="letter1">理</div>
    </div>
    <span class="letter1-title">学療法士を</span>
    <br />
    <div class="maru size_normal pink2">
       <div class="letter2">助</div>
    </div>
    <span class="letter2-title">ける！</span>
    </div>
   </div>
      <div class="main-title-pict">
      <%= image_tag "1519292803.png", size: "500x400" %>
      </div>
  </div>
</div>

   